extends pages 
block content 
  body.gridspages
    h1.cardpages.card-wide.h1 Code &#128187
    div.cardpages.card-wide.card-tall(style='background-image: url(../images/zzonawavedit.png);' )
    div.cardpages.card-wide.card-tall(style='padding: 3%;')
      h2.h1 ZzOnAwav App
      br
      p.normalText This app was created in Android studio. Provides reliable two way user verification via sms using java async task, delievers files to the user via direct download from proxy server. 
      a(href="https://github.com/ZaneStanutz/zzonawav" target="_blank") 
        button.normalText.btn-gradient-1 < code />
    div.cardpages.card-wide.card-tall(style='background-image: url(../images/myabstractlifeedit.png);' )
    div.cardpages.card-wide.card-tall(style='padding: 3%;') 
      h2.h1 My Abstact Life App
      br
      p.normalText This app was created in Android studio. Utilizes Java Native Interface to perform a calculation in C++ resulting in total seconds the user has been alive.
      a(href="https://github.com/ZaneStanutz/MyAbstractLife" target="_blank") 
        button.normalText.btn-gradient-1 < code />
  include footer