extends pages 
block content 
  body.gridspages
    h1.cardpages.card-wide.h1 Design &#127912
    div.cardpages.card-wide(style='background-image: url(../images/zzonawavwave.svg)')
    div.cardpages.card-wide.card-tall(style='background-image: url(../images/zzonawavslav.svg)')
    div.cardpages.card-wide(style='background-image: url(../images/zzonavavrecursive.svg)')
    div.cardpages.card-tall.card-wide(style='background-image: url(../images/zzdiamond.svg')
    div.cardpages.card-wide.card-tall(style='background-image: url(../images/zzonawavmanhattan.svg')
    div.cardpages.card-wide.card-tall(style='background-image: url(../images/zzonawavsilk.svg')
    div.cardpages.card-wide.card-tall(style='background-image: url(../images/zzmirror.svg')
  include footer