extends pages
block content
  body.gridspages
    header.h1.cardpages.card-wide  
      h1= message
      h2= error.status
    p.h1.cardpages.card-all-wide this page does not exist....
  include footer
